.wrapper {
	margin-block-end: var(--space-xxl);

	@media (--xxl-viewport) {
		--content-grid-columns: 3fr var(--space-xl) 4fr;
	}

	@media (--xxxl-viewport) {
		margin-block-end: var(--space-xxxl);
	}
}

.sectionHeading {
	grid-column: wrapper;
	margin-block-end: var(--space-xs);
	font-size: var(--fz-md);
	color: inherit;

	@media (--xl-viewport) {
		margin-block-end: var(--space-md);
	}
}

.sectionSubHeading {
	grid-column: wrapper;
	font-size: var(--fz-xxl);
	margin-block-end: var(--space-sm);

	@media (--xxl-viewport) {
		grid-row-start: 2;
		grid-column-end: span 1;
	}
}

.servicesSummary {
	grid-column: wrapper;
	margin-block-end: var(--space-xl);

	@media (--xxl-viewport) {
		grid-column-start: 4;
		grid-row-start: 2;
	}
}

.servicesList {
	grid-column: wrapper;

	@media (--lg-viewport) {
		--rg: var(--space-xl);
		grid-template-columns:
			45% 1fr
			minmax(40%, 1fr);
	}

	@media (--xl-viewport) {
		--colmg: var(--space-xl);
		--rg: var(--space-xs);
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: max-content auto;
	}

	@media (--xxl-viewport) {
		grid-column-start: 2;
		grid-row-start: 3;
	}
}

.serviceCategory {
	@media (--lg-viewport) {
		display: contents;
	}
}

.serviceCategory:not(:last-child) {
	margin-block-end: var(--space-xl);
}

.serviceName {
	position: relative;
	margin-block-end: var(--space-md);

	@media (--lg-viewport) {
		align-self: start;
	}

	@media (--xl-viewport) {
		margin-block-end: var(--space-sm);
		align-self: end;
	}
}

.serviceName::after {
	content: "";
	display: block;
	width: 102%;
	height: 3px;
	margin-inline-start: 50%;
	transform: translateX(-50%);
	position: absolute;
	left: 0px;
	bottom: -4px;
	background-color: var(--c-accent-main);
	clip-path: polygon(0% 100%, 1% 0%, 100% 0%, 99% 100%);
}

.serviceDetailsList {
	padding-inline-start: var(--space-md);

	@media (--lg-viewport) {
		grid-column-start: 3;
	}

	@media (--xl-viewport) {
		grid-column-start: auto;
		order: 1;
	}
}

.serviceDetailsList > li::marker {
	color: var(--c-blue-20);
	font-size: var(--fz-sm);
	vertical-align: text-top;
}
