.projectContainer:not(:first-child) {
	margin-block-start: var(--space-xxl);
}

.projectHeading {
	margin-block-end: var(--space-xs);
}

.projectImagesContainer {
	row-gap: var(--space-md);
	column-gap: var(--space-md);
}

@media (--xl-viewport) {
	.projectImagesContainer {
		grid-template-columns: 1fr 1fr;
	}
}
