.wrapper {
	margin-block-end: var(--space-xxxl);
}

.sectionHeadingWrapper {
	grid-column: wrapper;
	margin-block-end: var(--space-lg);
}

.bioWrapper {
	grid-column: wrapper;
	margin-block-end: var(--space-xl);
}

.sectionHeading {
	display: inline;
	font-size: var(--fz-xxxxl);
}

.textEmphasized {
	--el-bgc: var(--c-blue-70);
	--el-gradient-cutoff: 15px;
	font-style: italic;
	color: var(--c-blue-10);
	padding-inline: 16px;
	padding-inline-end: 22px;
	background: linear-gradient(
				100deg,
				var(--bgc-10) var(--el-gradient-cutoff),
				var(--el-bgc) var(--el-gradient-cutoff)
			)
			left 50%,
		linear-gradient(
				280deg,
				var(--bgc-10) var(--el-gradient-cutoff),
				var(--el-bgc) var(--el-gradient-cutoff)
			)
			right 50%;
	background-size: 60% 85%;
	background-repeat: no-repeat;
	box-decoration-break: clone;
}

.textTLDR {
	font-weight: bold;
	color: var(--c-accent-main);
}

@media (--xxxl-viewport) {
	.wrapper {
		--content-grid-columns: 1fr 1fr;
	}
}
