@custom-media --half-viewport-grid screen and (min-width: 950px);

.wrapper {
	margin-block-start: var(--space-lg);
	margin-block-end: var(--space-xxl);

	@media (--half-viewport-grid) {
		--content-grid-columns: 1fr var(--space-xl) 1fr;
		margin-block-start: var(--space-xl);
	}

	@media (--xxxl-viewport) {
		--content-grid-columns: max-content 1fr 20fr;
		margin-block-end: var(--space-xxxl);
		margin-block-start: var(--space-md);
	}
}

.patternWrapper {
	width: 100%;
	height: 100%;
	max-height: 150px;
	grid-column: full;
	grid-row-start: 3;

	@media (--half-viewport-grid) {
		grid-column: wrapper / span 1;
		grid-row-start: 4;
		max-height: 110px;
	}

	@media (--xxxl-viewport) {
		margin-block-end: unset;
		grid-column: wrapper-start / span 1;
		grid-row: 4 / span 1;
	}
}

.patternEl {
	width: 100%;
	height: 100%;
	opacity: 0.6;
}

.headerWrapper {
	margin-block-end: var(--space-xl);
	position: relative;
	z-index: 2;
	grid-column: wrapper;

	@media (--half-viewport-grid) {
		display: contents;
	}
}

.headerHeading {
	width: min-content;
	font-size: var(--fz-xxxxl);
	margin-block-end: var(--space-xxs);

	@media (--lg-viewport) {
		width: unset;
	}

	@media (--half-viewport-grid) {
		width: min-content;
		grid-column-start: wrapper-start;
	}

	@media (--xxxl-viewport) {
		width: unset;
		grid-column: wrapper;
	}
}

.headerBio {
	margin-block-end: var(--space-md);

	@media (--half-viewport-grid) {
		grid-column-start: wrapper-start;
		grid-row-start: 2;
	}

	@media (--xxxl-viewport) {
		margin-block-end: var(--space-lg);
		height: fit-content;
	}
}

.headerSocialsListWrapper {
	@media (--half-viewport-grid) {
		grid-column-start: wrapper-start;
		grid-row-start: 3;
		align-self: flex-start;
		margin-block-end: var(--space-lg);
	}
}

.headerSocialsList {
	--fxd: column;
	--rg: var(--space-md);
	padding-inline-start: var(--space-md);

	@media (--lg-viewport) {
		--fxd: row;
		--colmg: var(--space-xl);
		padding-inline-start: 0px;
	}

	@media (--xxxl-viewport) {
		--fxd: row;
	}
}

.photoContentWrapper {
	--fxd: column;
	z-index: 1;
	position: relative;
	align-items: center;
	grid-column: wrapper;
	margin-block-end: var(--space-xxl);

	@media (--half-viewport-grid) {
		--fxd: column;
		width: 100%;
		max-width: 400px;
		justify-content: center;
		grid-column-start: 4;
		grid-row: 1 / span 5;
	}

	@media (--xxxl-viewport) {
		--fxd: row;
		--fxw: nowrap;
		--colmg: var(--space-sm);
		margin-block-end: unset;
		align-items: flex-end;
		width: 100%;
		max-width: unset;
		grid-column-start: 4;
		grid-row: 2 / span 3;
	}
}

.photoElWrapper {
	max-width: 500px;
	width: 100%;
	margin-inline: auto;

	@media (--half-viewport-grid) {
		flex-basis: unset;
	}

	@media (--xxxl-viewport) {
		flex-basis: 50%;
		margin-inline-end: unset;
	}
}

.photoCaption {
	position: relative;
	max-width: 65ch;

	@media (--half-viewport-grid) {
		flex-basis: unset;
	}

	@media (--xxxl-viewport) {
		flex-basis: 50%;
	}
}
