.wrapper {
	margin-block-end: var(--space-md);
}

.contactInfoWrapper {
	background-image: url("../../assets/images/flamingo_pattern_pathlove.svg");
	grid-column: full;
	padding-block: var(--space-lg);
	margin-block-end: var(--space-xxl);

	@media (--xl-viewport) {
		align-items: center;
	}

	@media (--xxl-viewport) {
		justify-content: space-around;
	}

	@media (--xxxxl-viewport) {
		padding-inline: var(--space-xxxl);
	}
}

.contactInfoSocials {
	--fxd: column;
	--rg: var(--space-lg);

	padding-inline: var(--space-lg);
	grid-column: wrapper;
}

.contactInfoSocialsHeadingWrapper {
	text-align: center;

	@media (--xl-viewport) {
		margin-block-end: initial;
		text-align: initial;
		grid-column: 1 / -1;
	}
}

.contactInfoSocialsHeading {
	font-size: var(--fz-md);
}

.contactInfoSocialsListWrapper {
	@media (--xl-viewport) {
		grid-row-start: 2;
	}
}

.contactInfoSocialsList {
	--fxd: column;
	--rg: var(--space-md);

	@media (--lg-viewport) {
		--fxd: row;
		--colmg: var(--space-xl);
	}
}

.cardInfoTextSummary {
	@media (--xl-viewport) {
		grid-column: 2;
	}
}

.authorDetailsWrapper {
	grid-column: wrapper;
}

.authorDetails {
	color: var(--c-text-secondary);
}
