.wrapper {
	margin-block-end: var(--space-xxl);

	@media (--xxxl-viewport) {
		--content-grid-columns: 1fr 1fr;
		margin-block-end: var(--space-xxxl);
	}
}

.sectionHeadingWrapper {
	grid-column: wrapper;
	margin-block-end: var(--space-lg);
}

.bioWrapper {
	grid-column: wrapper;
}

.sectionHeading {
	display: inline;
	font-size: var(--fz-xxl);
}

.sectionHeadingAddendum {
	color: var(--c-text-sub-heading);
	font-weight: 700;
	font-size: var(--fz-xxl);
	line-height: 1.2;
}

.text_CPU {
	--el-bgc: var(--c-blue-70);
	font-style: italic;
	color: var(--c-blue-10);
	padding-inline: 14px;
	padding-inline-end: 20px;
	background: linear-gradient(101deg, var(--bgc-10) 13px, var(--el-bgc) 13px)
			left 50%,
		linear-gradient(282deg, var(--bgc-10) 14px, var(--el-bgc) 14px) right
			50%;
	background-size: 60% 100%;
	background-repeat: no-repeat;
	box-decoration-break: clone;
}

.text_TLDR {
	font-weight: bold;
	color: var(--c-accent-main);
}

.wrapper {
	margin-block-end: var(--space-xxxl);

	@media (--xxl-viewport) {
		--content-grid-columns: 3fr var(--space-xl) 4fr;
	}
}

.sectionHeading {
	grid-column: wrapper;
	margin-block-end: var(--space-xs);
	font-size: var(--fz-md);
	color: inherit;

	@media (--xl-viewport) {
		margin-block-end: var(--space-md);
	}
}

.sectionSubHeading {
	grid-column: wrapper;
	font-size: var(--fz-xxl);
	margin-block-end: var(--space-sm);

	@media (--xxl-viewport) {
		grid-row-start: 2;
		grid-column-end: span 1;
	}
}

.servicesSummary {
	grid-column: wrapper;
	margin-block-end: var(--space-xl);

	@media (--xxl-viewport) {
		grid-column-start: 4;
		grid-row-start: 2;
	}
}

.servicesList {
	grid-column: wrapper;

	@media (--lg-viewport) {
		--rg: var(--space-xl);
		grid-template-columns:
			45% 1fr
			minmax(40%, 1fr);
	}

	@media (--xl-viewport) {
		--colmg: var(--space-xl);
		--rg: var(--space-xs);
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: max-content auto;
	}

	@media (--xxl-viewport) {
		grid-column-start: 2;
		grid-row-start: 3;
	}
}

.serviceCategory {
	@media (--lg-viewport) {
		display: contents;
	}
}

.serviceCategory:not(:last-child) {
	margin-block-end: var(--space-xl);
}

.serviceName {
	position: relative;
	margin-block-end: var(--space-md);

	@media (--lg-viewport) {
		align-self: start;
	}

	@media (--xl-viewport) {
		margin-block-end: var(--space-sm);
		align-self: end;
	}
}

.serviceName::after {
	content: "";
	display: block;
	width: 102%;
	height: 3px;
	margin-inline-start: 50%;
	transform: translateX(-50%);
	position: absolute;
	left: 0px;
	bottom: -4px;
	background-color: var(--c-accent-main);
	clip-path: polygon(0% 100%, 1% 0%, 100% 0%, 99% 100%);
}

.serviceDetailsList {
	padding-inline-start: var(--space-md);

	@media (--lg-viewport) {
		grid-column-start: 3;
	}

	@media (--xl-viewport) {
		grid-column-start: auto;
		order: 1;
	}
}

.serviceDetailsList > li::marker {
	color: var(--c-blue-20);
	font-size: var(--fz-sm);
	vertical-align: text-top;
}
